<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome <%= name %>
    </h1>
    <h3>All the Tasks are Mention Below :- </h3>
    <ul>
        <% for(let i=0;i< task_count;i++){ %>
            <li>
                <%=tasks[i] %>, User id is :- <%=user[i] %>
            </li>
            <% } %>

    </ul>
    <h3>All the Users are Mention Below</h3>
    <ul>
        <% for(let i=0;i< user_count;i++){ %>
            <li>
                <!-- <a href="/todo/taskbyidadmin/<%=all_usersbyid[i]  %>"> -->
                <%=user_name[i] %>
                    <!-- </a>  -->
                    ID is :- <%=all_usersbyid[i] %>
            </li>
            <% } %>
    </ul>
    <br>
    <a href="/todo/deletetaskbyadmin">Want to Delete any task? </a><br> <br>
    <a href="/todo/deleteuserbyadmin">Want to Delete any User? </a> <br> <br>

</body>

</html>